<!DOCTYPE html>
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Timeline</title>
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css?h=c644b6bd92b424a8a4cc8da72cf6b7b9">
    <link rel="stylesheet" href="/static/assets/css/Aleo.css?h=85d5028bb516c8532978781eed8b2fd0">
    <link rel="stylesheet" href="/static/assets/css/Arbutus%20Slab.css?h=26c3cc4e032eefdaeddfc3b59bea2354">
    <link rel="stylesheet" href="/static/assets/css/Cookie.css?h=2aa9c3a4f7985c1a5660fa25680439cd">
    <link rel="stylesheet" href="/static/assets/css/Inter.css?h=fa0e9e90c3db9df0d1dd75775ca7313c">
    <link rel="stylesheet" href="/static/assets/css/Pretty-Header.css?h=397ae415c386c439d399c6577a79b5b0">
    <script src="/static/assets/js/jquery.min.js?h=84e399b8f2181ccd73394fdeddff1638" type="text/javascript" ></script>
    <script src="/static/assets/js/tiny-slider.js"></script> 
    <script src="/static/assets/bootstrap/js/bootstrap.min.js?h=5488c86a1260428f0c13c0f8fb06bf6a" type="text/javascript"></script>
    <script src="/static/assets/js/bold-and-bright.js?h=914b066f52f5e2b2583e4d1558c90518" type="text/javascript"></script>
</head>
<body style="/*background: url(&quot;design.jpg&quot;);*/background-position: 0 -60px;">
    <nav class="navbar navbar-light navbar-expand-md fixed-top navbar-shrink py-3" id="mainNav">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center" href="/">
                <span class="bs-icon-sm bs-icon-circle bs-icon-primary shadow d-flex justify-content-center align-items-center me-2 bs-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-eye">
                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 
                        3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 
                        1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z">
                    </path>
                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"></path>
                    </svg>
                </span>
                <span>FaceApp</span>
            </a>
            <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
                <span class="visually-hidden">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-1" style="color: var(--bs-blue);">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul>
                <a href="{% url 'index' %}" style="color: var(--bs-blue);font-family: Aleo, serif;font-weight: bold;">Home</a>
            </div>
        </div>
    </nav>

    <!--Timeline Section-->

    <section class="py-5"></section>
    <section>
        <div class="container bg-primary-gradient py-5">
            <div class="row">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h4 class="fw-bold text-success mb-2">Timeline</h4>
                    <h3 class="fw-bold">Challenges I have during Engage'22 Program</h3>
                </div>
            </div>
            <div class="py-5 p-lg-5">
                <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
                    <div class="col mb-5" style="width: 800px;">
                        <div class="card shadow-sm">
                            <div class="card-body px-4 py-5 px-md-5" style="height: 550.969px;">
                                <div class="bs-icon-lg d-flex justify-content-center align-items-center mb-3 bs-icon" style="top: 1rem;right: 1rem;position: absolute;">
                                    <svg class="bi bi-clock-history" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 
                                    1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 
                                    1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 
                                    0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 
                                    .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 
                                    2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 
                                    8.073 0 0 1-.401.432l-.707-.707z">
                                    </path>
                                    <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z"></path>
                                    <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"></path>
                                    </svg>
                                </div>
                                <h5 class="fw-bold card-title">My Timeline</h5>
                                <br>
                                <h6 class="fw-bold text-success mb-2">
                                    Week 1: Learning and Research</h6>
                                    <ul class="fw-bold">
                                        <li>Learned required skills and researched about functionalities.</li>
                                        <li>Planned complete development cycle</li>
                                        <li>Chose libraries, framework and tech stack to solve the problem.</li>
                                    </ul>
                                <h6 class="fw-bold text-success mb-2">
                                        Week 2: Designing and implementation</h6>   
                                        <ul class="fw-bold">
                                            <li>Designed webapp and started coding journey.</li>
                                            <li>Implemented functionalities to the webapp.</li>
                                        </ul> 
                                <h6 class="fw-bold text-success mb-2">
                                        Week 3: Testing and Deployment
                                </h6>   
                                        <ul class="fw-bold">
                                            <li>Tested webapp and fixed bugs.</li>
                                            <li>Deployed webapp over the cloud.</li>
                                        </ul>     
                                <h6 class="fw-bold text-success mb-2">
                                        Week 4: Optimization and documentation
                                </h6>   
                                        <ul class="fw-bold">
                                            <li>Tried to optimize code.</li>
                                            <li>Prepared documents and presentation with video showing the working of webapp.</li>
                                        </ul>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 
    
        <hr>

        <!--Footer Starts-->

        <footer class="bg-primary-gradient">
            <div class="container py-4 py-lg-5">
                <div class="d-flex justify-content-between align-items-center pt-3">
                    <p class="mb-0">Microsoft Intern Engage'22 Project by 
                        <a href="https://www.linkedin.com/in/siddharthsaraswat1/">Siddharth Saraswat</a> &#11088</p>
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-linkedin">
                                <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 
                                0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 
                                0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 
                                0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 
                                1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z">
                                </path>
                            </svg>
                        </li>
                    </ul>
                </div>
            </div>
            
        </footer>
        <!--Footer ends-->

        <!--scripts-->
            <script src="/static/assets/js/jquery.min.js?h=84e399b8f2181ccd73394fdeddff1638"></script>
            <script src="/static/assets/bootstrap/js/bootstrap.min.js?h=5488c86a1260428f0c13c0f8fb06bf6a"></script>
            <script src="/static/assets/js/bold-and-bright.js?h=914b066f52f5e2b2583e4d1558c90518"></script>
        <!--Scripts end--> 
</body>
</html>